.card__Task{
    width: 90%;
    height: 200px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 10px;
}

.card__containerGeneral{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card--inputTitle{
    height: 30px;
    width: 90%;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.card--description{
    margin: 0 10px;
    width: 90%;
    height: 90px;
    resize: none;
}

.card--description.accept{
    text-decoration: line-through ;
}

.card__containerButtons{
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.buttons--interactive{
    border: none;
    height: 30px;
    width: 70px;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(40, 128, 243);
}

#card--inputAccept{
    border: none;
    background-color: blue;
    margin: 0 0 10px 0;
    width: 99%;
    height: 40px;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

.card--inputTitle.accept{
    background-color: green !important;
    text-decoration: line-through;
}

#card--descriptionAccept{
    width: 97% !important;
    border: none;
}

input:focus, textarea:focus {
    outline: none;
}
  